@charset "UTF-8";

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{-ms-overflow-style:none; }
body::-webkit-scrollbar { display:none; }

#adminHeader {
	position: fixed;
    padding-top: 20px;
    top: 0;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
}

#adminLogo {
	margin-left: auto;
	margin-right: auto;
	font-family: 'Cafe24Ssurround';
	border:  #FFA500 solid 2px;
	color: #FFA500;
	width: 100%;
	height: 100px;
	margin-bottom: 35px;
	box-shadow: 3px 3px 2px #FFA500;
	font-weight: 900;
	font-size: 20px;
}

.goMain a {
  font-size: 30px;
}

.goMain a:link,
.goMain a:visited {
  font-size: 30px;
  color:  #FFA500;
  text-decoration: none;
}

.image-button {
   cursor: pointer;
   height: 50px;
   width: 50px;
}

#adminHeader .adminBtn {
	text-decoration: none;
    border: #FFA500 solid 2px;
    background-color: white;
    color: #FFA500;
    box-shadow: 3px 3px 2px #FFA500;
    font-weight: 900;
    padding: 2px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 20px;
    font-family: 'Cafe24Ssurround';
    }

#adminHeader .adminBtn:hover{
	cursor: pointer;
    background-color: #FF6347;
    border: #FF6347 solid 2px;
    color: #f9f9f9;
    }

#adminMenu {
	margin-left: auto;
	margin-right: auto;
    width: 100%;
    border: #FFA500 solid 2px;
    color: #FFA500;
    box-shadow: 3px 3px 2px #FFA500;
    margin-top: 60px;
    font-weight: 900;
    font-family: 'Cafe24Ssurround';
    }
    
#adminContent {
	font-family: 'Cafe24Ssurround';
	margin-left: auto;
	margin-right: auto;
	padding-top: 300px;
	margin-bottom: 50px;
	width: 63%;
}

#memberManage {
	width: 100%;
	border: #FFA500 solid 2px;
	padding: 10px;
}

#mamberListHeader {
	width: 90%;
	border: #FFA500 solid 2px;
	margin-bottom: 15px;
	padding: 2px;
}

#mamberListHeader td {
	width: 25%;
}

#memberList {
	width: 90%;
	border: #FFA500 solid 2px;
	padding: 2px;
	margin-bottom: 3px;
}

#memberList td {
	width: 25%; 
}

#memberList .memberId:hover{
	cursor: pointer;
}

#memberList button {
	font-family: 'Cafe24Ssurround';
	border: black solid 1px;
}

#memberList button:hover{
	cursor: pointer;
	color: white;
	background-color: black;
    border: black solid 1px;
}

#adminResult {
	position: fixed;
	font-family: 'Cafe24Ssurround';
	top: 200px;
	right: 10px;
}

#memberSearchTbl {
	width: 50%;
	border: #FFA500 solid 2px;
	border-radius: 20px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 15px;
}

#memberSearchTbl input {
	font-family: 'Cafe24Ssurround';
	outline: none;
	padding: 3px;
	border: none;
	width: 80%;
	height: 25px;
}

#memberSearchTbl #searchBtn {
	width: auto;
}

#profileTbl {
	width: 100%;
}

#memberProfile {
	width: 500px;
	height: 280px;
	border: #FFA500 solid 2px;
	padding: 13px;
}

#memberProfile #memberProfileId {
	text-shadow: 2px 2px 2px #FFA500;
	padding-right: 25px;
	font-weight: 900;
	font-size: 20px;
}

#memberProfile button {
	font-family: 'Cafe24Ssurround';
	color: black;
	border: black solid 1px;
	height: 25px;
}

#memberProfile button:hover{
	cursor: pointer;
	color: white;
	background-color: black;
    border: black solid 1px;
}

#memberProfile img {
	max-width: 150px;
	margin-left: 25px;
}

#memberProfile #memberDeleteBtn {
	padding-top: 30px;
}

#reportDiv {
	overflow-y: scroll;
	width: 630px;
	height: 280px;
	border: #FFA500 solid 2px;
	padding: 2px;
}

#reportListHeader {
	width: 100%;
	border: #FFA500 solid 2px;
	margin-bottom: 10px;
	padding: 2px;
}

#reportListHeader td {
	width: 20%;
}

#reportList {
	width: 100%;
	border: #FFA500 solid 2px;
	padding: 1px;
	margin-bottom: 1px;
}

#reportList td {
	width: 20%;
}

#reportList button {
	font-family: 'Cafe24Ssurround';
	border: #FFA500 solid 2px;
	color: #FFA500;
}

#reportList button:hover{
	background-color: #FF6347;
    border: #FF6347 solid 2px;
    color: white;
}

#reportList:hover{
	cursor: pointer;
}

.memberRegistered {
	font-family: 'Cafe24Ssurround';
	border: #FFA500 solid 2px;
	box-shadow: 2px 2px 2px #FFA500;
	background-color: #ffffff;
	color: #FFA500;
	width: 70px;
	height: 30px;
	padding: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 15px;
    float: left;
    cursor: pointer;
}

.memberRegistered:hover{
	background-color: #FF6347;
    border: #FF6347 solid 2px;
    color: white;
}

#adminProfileContent {
	width: 97%;
	padding: 1px;
}

#blackArea{
	position: fixed;
	width: 100%;
	height: 100%;
	left: -100%;
	top: -100%;
	background-color: rgba(0, 0, 0, 0);
	transition: opacity 0.3s ease-out;
}

#reportDetailTbl textarea {
	outline: none;
	resize: none;
	padding: 5px;
	border: #FFA500 solid 2px;
	width: 400px;
	height: 250px;
	font-family: 'Cafe24Ssurround';
	color: #FFA500;
	font-size: 12pt;
	background-color: white;
}

#reportDetailTbl input {
	outline: none;
	height: 27px;
	width: 360px;
	padding: 3px;
	border: #FFA500 solid 2px;
	font-family: 'Cafe24Ssurround';
	font-size: 11pt;
	color: #FFA500;
}

#reportDetailTbl #adminReportCategory {
	width: 330px;
}

#reportDetailTbl{
	width: 500px;
	height: 300px;
	border: #FFA500 solid 2px;
	color: #FFA500;
	font-family: 'Cafe24Ssurround';
	box-shadow: 2px 2px 2px #FFA500;
	padding: 10px;
	background-color: white;
	padding-left: 35px;
}

#x:hover{
	cursor: pointer;
}

#memberTownNews {
	border: #FFA500 solid 2px;
	color: black;
	font-family: 'Cafe24Ssurround';
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
}

#memberTownNews td {
	padding: 10px;
}

#memberTownNews .reply-writer-cell {
	height: 15px;
}

#memberTownNews .title-cell {
	padding-left: 40px;
}

#memberTownNews button {
	font-family: 'Cafe24Ssurround';
	border: black solid 1px;
	color: black;
	width: 50px;
	padding: 3px;
}

#memberTownNews button:hover {
	cursor: pointer;
	border: black solid 1px;
	color: white;
	background-color: black;
	padding: 3px;
}

#memberTownNews .photo-cell {
	width: 20%;
}

#memberTownNews img {
	max-width: 100%;
}

#memberProductDiv {
	font-family: 'Cafe24Ssurround';
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
}

#memberProductTbl {
	border: #FFA500 solid 2px;
	padding: 1%;
	width: 27%;
	margin: 3%;
}

#memberProductTbl td {
	padding-top: 7px;
}

#memberProductTbl img {
	border: none;
}

#memberProductTbl button {
	font-family: 'Cafe24Ssurround';
	border: black solid 1px;
	color: black;
	width: 38px;
	padding: 3px;
}

#memberProductTbl button:hover {
	cursor: pointer;
	border: black solid 1px;
	color: white;
	background-color: black;
	padding: 3px;
}

