<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf/org">
<head>
<meta charset="UTF-8">
<title>당근 마켓</title>
<link rel="stylesheet" type="text/css" href="/index.css">
<link rel="stylesheet" type="text/css" href="/login.css">
<link rel="stylesheet" type="text/css" href="/product.css">

</head>
<body>

	<table id="header">
		<tr>
			<td align="center" class="goMain"><img
				src="/img/carrot.png" class="image-button"> <a id="goMain"
				href="/">당근 마켓</a></td>
			<td class="searchArea" align="center">
				<form action="product.search">
					<input placeholder="검색어를 입력하세요" name="search">
					<button>검색</button>
				</form>
			</td>
			 <td align="center" th:insert="~{${loginPage}}"></td>
		</tr>
	</table>
	<table id="menuTbl" border="1">
		<tr align="center">
			<td>
				<div class="dropdown">
					카테고리
					<div class="dropdown-content">
						<div th:each="c:${cl}" class="dorp">
							<a style="float:left" th:href="@{/category/{categoryId}/product.search(search=${search},categoryId=${c})}"
								th:text="${c}"></a>
						</div>
					</div>
				</div>
			</td>
			<td><a href="/">전체 매물</a></td>
			<td><a th:href="@{/townnews.go}">게시판</a></td>
		</tr>
	</table>
	
	<table id="contentPage">
		<tr>
			<td th:insert="~{${contentPage}}"></td>
		</tr>
	</table>
	<a href="go.sell">
			<button id="sellBtn">+</button>
	</a>
	<div id="result">[[${result}]]</div>
</body>
</html>