<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="index.css">
<title>당근마켓</title>
</head>
<body>
	<div class="null"></div>
		<header>
		    <div class="chead">
		        <div class="logo-search">
		            <div class="logo">당근마켓</div>
		            <div class="search">
		                <input type="text" placeholder="검색어를 입력하세요">
		                <button>검색</button>
		            </div>
			        <div class="login">
			        	<button><a href="LoginController">로그인/회원가입</a></button>
			        </div>
		        </div>
		    </div>
		</header>

        <nav>
            <ul>
                <li><a href="#">홈</a></li>
                <li><a href="#">카테고리</a></li>
                <li><a href="#">전체매물</a></li>
                <li><a href="#">게시판</a></li>
            </ul>
        </nav>
        <select>
    		<option value="clothes">의류</option>
    		<option value="life">생활용품</option>
    		<option value="sport">스포츠</option>
    		<option value="etc">기타</option>
		</select>
        
    <main>
        <!-- 메인 콘텐츠 내용 -->
    </main>
    <footer>
        <p>&copy; 2023 중고나라. All rights reserved.</p>
    </footer>
</body>
</html>
